<section>
  <div class="title">
    <h1>{{ category?.name }}</h1>
  </div>
  <div class="card">
    <app-card *ngFor="let burger of displayedBurgers" [burgerData]="burger"
      [routerLink]="['/burgers', burger.id]"></app-card>
  </div>
  <div>
    <app-button label="Ver Cardápio Completo" styleClass="primaryBtn uppercase" *ngIf="!showAll"
      (click)="showFullMenu()"></app-button>
  </div>

  <div class="card" *ngIf="showAll">
    <app-card *ngFor="let burger of remainingBurgers" [burgerData]="burger"
      [routerLink]="['/burgers', burger.id]"></app-card>
  </div>
  <div>
    <app-button *ngIf="showAll" label="Mostrar Menos" styleClass="primaryBtn uppercase" (click)="showLess()">
    </app-button>
  </div>
</section>